site_name: Python project template
site_description: Python project template
repo_name: python-project-template
repo_url: https://github.com/danibcorr/python-project-template
site_url: https://https://danibcorr.github.io/python-project-template

theme:
  name: "material"
  language: en
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/weather-night
        name: "Switch to light mode"
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/weather-sunny
        name: "Switch to dark mode"
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.indexes
    - navigation.path
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - navigation.sections
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
  icon:
    repo: fontawesome/brands/github

use_directory_urls: false

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang: en
  - git-revision-date-localized
  - git-authors:
      show_email_address: false
  - enumerate-headings:
      toc_depth: 0
      exclude:
        - index.md
  - awesome-nav

extra:
  status:
    new: Recently added
    deprecated: Deprecated
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/danibcorr/
  version:
    provider: mike
    default: latest
