[build-system]
requires = ["setuptools==80.9"]
build-backend = "setuptools.build_meta"

[project]
name = "python-project-template"
version = "2.4.3"
description = "Python project template"
authors = [
    {name = "Daniel Bazo Correa", email = "none@none.com"},
]
license = {file = "LICENSE"}
readme = "README.md"
requires-python = "==3.11.*"
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
]
keywords = ["python", "template"]
dependencies = [
    "cookiecutter==2.6.0",
]

[tool.uv]
default-groups = "all"
cache-keys = [{ file = "pyproject.toml" }, { git = { commit = true } }]

[dependency-groups]
pipeline = [
    "bandit==1.9.2",
    "complexipy==4.2.0",
    "mypy==1.19.0",
    "pytest==8.4.2",
    "pytest-order==1.3.0",
    "ruff==0.14.7",
    "isort==7.0.0",
    "nbqa==1.9.1"
]
documentation = [
    "mkdocs==1.6.1",
    "mkdocstrings[python]==1.0.0",
    "mkdocs-material==9.7.0",
    "mkdocs-git-revision-date-localized-plugin==1.5.0",
    "mkdocs-git-authors-plugin==0.10.0",
    "mkdocs-enumerate-headings-plugin==0.6.2",
    "mkdocs-jupyter==0.25.1",
    "mkdocs-awesome-nav==3.2.0",
    "mike==2.1.3"
]
